.main {
  background: url("/img/main_poster.png");
  overflow: hidden;
  position: relative;
}
.main .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__block {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main__block:hover .main__title {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main__block:hover .main__bottom {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main__block:hover:after {
  opacity: 0.8;
  visibility: visible;
}
.main__block:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #dbeffc;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.main__title {
  letter-spacing: -0.08em;
  color: #F9FAFE;
  font-weight: 900;
  font-size: 24rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}
.main__sale {
  font-weight: 900;
  font-size: 6.25rem;
  background: #F9FAFE;
  border-radius: 10px;
  padding: 0 25px;
}
.main__sale span {
  text-transform: uppercase;
  background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__new {
  color: #F9FAFE;
  font-size: 2.3rem;
  margin-left: 33px;
}
.main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}

.catalog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.catalog__item__info {
  background: #F9FAFE;
  border-radius: 10px;
  padding: 30px;
  width: 17.5rem;
}
.catalog__item__text {
  margin-bottom: 15px;
}
.catalog .buy {
  margin-top: 80px;
}

.catalog_2 {
  height: 765px;
}
.catalog_2 .catalog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: inherit;
  padding: 0 70px;
}
.catalog_2 .catalog__item__img {
  position: relative;
  bottom: -80px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}
.catalog_2 .catalog__item__info {
  position: relative;
  bottom: -80px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1.625rem;
}

#catalog_hinata {
  background: #DBEFFC;
}
#catalog_hinata:hover .hinata__eff__grad {
  top: 0;
}
#catalog_hinata:hover .catalog__item__info {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
#catalog_hinata:hover .catalog__item__img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
#catalog_hinata:hover .hinata__eff {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#catalog_hinata .catalog__item__img {
  position: absolute;
  right: 0;
  bottom: -20px;
}

.hinata__eff {
  font-size: 4.6rem;
  position: absolute;
  top: 105px;
  font-weight: 800;
  white-space: nowrap;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.hinata__eff__grad {
  color: #DBEFFC;
  background-image: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 4px transparent;
  position: absolute;
  top: 5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.hinata__eff__grad:nth-child(2) {
  top: 10rem;
}
.hinata__eff__grad:nth-child(3) {
  top: 15rem;
}
.hinata__eff__grad:nth-child(4) {
  top: 20rem;
}
.hinata__eff__grad:nth-child(5) {
  top: 25rem;
}
.hinata__eff__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#jojo__eff {
  background: #EDE9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#jojo__eff .text_big {
  margin-bottom: 0;
}
#jojo__eff .catalog__item__main {
  margin-bottom: 20px;
}
#jojo__eff .buy_white {
  position: relative;
  bottom: -90px;
  width: 17.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#jojo__eff .catalog__item__img {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#jojo__eff:hover .jojo__eff__text__item:nth-child(1) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: #272727;
}
#jojo__eff:hover .jojo__eff__text__item:nth-child(2) {
  background-image: linear-gradient(101.82deg, #ffefb7 -169.03%, #dbeffc -48.23%, #ffb691 16.05%, #c6bbec 86.59%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #EDE9F9;
}
#jojo__eff:hover .jojo__eff__text__item:nth-child(3) {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: linear-gradient(101.82deg, #ffefb7 -169.03%, #dbeffc -48.23%, #ffb691 16.05%, #c6bbec 86.59%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #EDE9F9;
}
#jojo__eff:hover .catalog__item__info {
  bottom: -8rem;
}
#jojo__eff:hover .buy_white {
  bottom: -2.5rem;
}
#jojo__eff:hover .catalog__item__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.jojo__eff__text {
  position: relative;
  bottom: -80px;
  font-size: 2.9rem;
  font-weight: 800;
  left: 1rem;
}
.jojo__eff__text__item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  background: #949494;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 1.5px transparent;
  color: #EDE9F9;
  width: 280px;
  right: 20px;
}
.jojo__eff__text__item span {
  position: relative;
  left: 20px;
}
.jojo__eff__text__item:nth-child(1) {
  z-index: 2;
}

#artwork {
  text-align: center;
}