$catalog_trans:.5s;
$main_trans:.3s;
.main{
	background: url('/img/main_poster.png');
	overflow: hidden;
	position: relative;
	& .container{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__block{
		transition: all $main_trans;
		&:hover{
			.main__title{
				transform: scale(1.1);
			}
			.main__bottom{
				transform: scale(1.1);
			}
			&:after{
				opacity: 0.8;
				visibility: visible;
			}
		}
		&:after{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(219, 239, 252, 1);
			opacity: 0;
			visibility: hidden;
			transition: all $main_trans;
			pointer-events: none;
		}
	}
	&__title{
		letter-spacing: -0.08em;
		color: #F9FAFE;
		font-weight: 900;
		font-size: 24rem;
		transition: all $main_trans;
		position: relative;
		z-index: 2;
	}
	&__sale{
		font-weight: 900;
		font-size: 6.25rem;
		background: #F9FAFE;
		border-radius: 10px;
		padding: 0 25px;
 		& span{
 			text-transform: uppercase;
 			background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
 			-webkit-background-clip: text;
 			-webkit-text-fill-color: transparent;
 		}
	}
	&__new{
		color: #F9FAFE;
		font-size: 2.3rem;
		margin-left: 33px;
	}
	&__bottom{
		display: flex;
		align-items: center;
		transition: all $main_trans;
		position: relative;
		z-index: 2;
	}
}

.catalog{
	&__block{
		display: flex;
		height: 100%;
	}
	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		&__wrap{
			
		}
		&__info{
			background: #F9FAFE;
			border-radius: 10px;
			padding: 30px;
			width: 17.5rem;
		}
		&__text{
			margin-bottom: 15px;
		}
	}
	& .buy{
		margin-top: 80px;
	}


}

.catalog_2{
	height: 765px;
	& .catalog__item{
		flex: 0 0 50%;
		height: inherit;
		padding: 0 70px;
	}
	& .catalog__item__img{
		position: relative;
		bottom: -80px;
		transition: all $catalog_trans;
		transform-origin: right;
	}
	& .catalog__item__info{
		position: relative;
		bottom: -80px;
		transition: all $catalog_trans;
		line-height: 1.625rem;
	}
}
#catalog_hinata{
	background: #DBEFFC;
	&:hover{
		.hinata__eff__grad{
			top: 0;
		}
		.catalog__item__info{
			transform: translateX(30px);
		}
		.catalog__item__img{
			transform: scale(.9);
		}
		.hinata__eff{
			transform: scale(1.2);
		}
	}
	& .catalog__item__img{
		position: absolute;
		right: 0;
		bottom: -20px;
	}
}
.hinata__eff{
	font-size: 4.6rem;
	position: absolute;
	top: 105px;
	font-weight: 800;
	white-space: nowrap;
	transition: all $catalog_trans;
	&__grad{
		color: #DBEFFC;
		background-image: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
		background-clip: text;
		-webkit-text-stroke: 4px transparent;
		position: absolute;
		top: 5rem;
		transition: all $catalog_trans;
		&:nth-child(2){
			top: 10rem;
		}
		&:nth-child(3){
			top: 15rem;
		}
		&:nth-child(4){
			top: 20rem;
		}
		&:nth-child(5){
			top: 25rem;
		}
	}
	&__title{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
}
#jojo__eff{
	background: #EDE9F9;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	& .text_big{
		margin-bottom: 0;
	}
	& .catalog__item__main{
		margin-bottom: 20px;
	}
	& .buy_white{
		position: relative;
		bottom: -90px;
		width: 17.5rem;
		transition: all $catalog_trans;
	}
	& .catalog__item__img{
		position: absolute;
		right: 0;
		top: 0;
		transition: all $catalog_trans;
	}
	&:hover{
		& .jojo__eff__text__item:nth-child(1){
			transform: translateY(100%);
			color: #272727;
		}
		& .jojo__eff__text__item:nth-child(2){
			background-image: linear-gradient(101.82deg, rgba(255, 239, 183, 1) -169.03%, rgba(219, 239, 252, 1) -48.23%, rgba(255, 182, 145, 1) 16.05%, rgba(198, 187, 236, 1) 86.59%);
			background-clip: text;
			-webkit-text-stroke: 4px transparent;
			color: #EDE9F9
		}
		& .jojo__eff__text__item:nth-child(3){
			transform: translateY(-100%);
			background-image: linear-gradient(101.82deg, rgba(255, 239, 183, 1) -169.03%, rgba(219, 239, 252, 1) -48.23%, rgba(255, 182, 145, 1) 16.05%, rgba(198, 187, 236, 1) 86.59%);
			background-clip: text;
			-webkit-text-stroke: 4px transparent;
			color: #EDE9F9;
		}
		& .catalog__item__info{
			bottom: -8rem;
		}
		& .buy_white{
			bottom: -2.5rem;
		}
		& .catalog__item__img{
			transform: scale(1.1);
		}

	}
}
.jojo__eff__text{
	position: relative;
	bottom: -80px;
	font-size: 2.9rem;
	font-weight: 800;
	left: 1rem;



	&__item{
		transition: all $catalog_trans;
		position: relative;
		background: #949494;
		background-clip: text;		
		-webkit-text-stroke: 1.5px transparent;
		color: #EDE9F9;
		width: 280px;
		right: 20px;
		& span{
			position: relative;
			left: 20px;
		}
		&:nth-child(1){
			z-index: 2;
		}
	}
}
#artwork{
	text-align: center;
}