.main {
  background: url("../img/main_poster.png");
  overflow: hidden;
  position: relative;
  background-position: center center;
}
.main .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__block {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main__block:hover .main__title {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main__block:hover .main__bottom {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main__block:hover:after {
  opacity: 0.8;
  visibility: visible;
}
.main__block:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #dbeffc;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.main__title {
  letter-spacing: -0.08em;
  color: #F9FAFE;
  font-weight: 900;
  font-size: 24rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}
.main__sale {
  font-weight: 900;
  font-size: 6.25rem;
  background: #F9FAFE;
  border-radius: 10px;
  padding: 0 25px;
}
.main__sale span {
  text-transform: uppercase;
  background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__new {
  color: #F9FAFE;
  font-size: 2.3rem;
  margin-left: 33px;
}
.main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}

.catalog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.catalog__item__info {
  background: #F9FAFE;
  border-radius: 10px;
  padding: 30px;
  width: 17.5rem;
}
.catalog__item__text {
  margin-bottom: 15px;
}
.catalog .buy {
  margin-top: 80px;
}

.catalog_2 {
  height: 48rem;
}
.catalog_2 .catalog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: inherit;
  padding: 0 70px;
}
.catalog_2 .catalog__item__img {
  position: relative;
  bottom: -80px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}
.catalog_2 .catalog__item__info {
  position: relative;
  bottom: -80px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1.625rem;
  pointer-events: auto !important;
}

.catalog_3 {
  height: 28.5rem;
}
.catalog_3 .catalog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  height: inherit;
}

#catalog_kaguya {
  background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
}

#catalog_hinata2 {
  background: linear-gradient(111.88deg, #FFEFB7 -190.23%, #FFB691 -110.11%, #DBEFFC 5.73%, #C6BBEC 100%);
}

#catalog_itachi {
  background: linear-gradient(70.75deg, #FFEFB7 2.87%, #FFB691 51.2%, #DBEFFC 123.32%, #C6BBEC 150.18%);
}

.catalog__item__lasteff {
  position: relative;
}
.catalog__item__lasteff img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.catalog__item__lasteff:hover .catalog__texteff:nth-child(1) {
  color: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-text-stroke: 1.5px rgba(249, 250, 254, 0);
}
.catalog__item__lasteff:hover .catalog__texteff:nth-child(3) {
  color: #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-text-stroke: 1.5px rgba(249, 250, 254, 0);
}
.catalog__item__lasteff:hover .catalog__item__texteff {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}
.catalog__item__lasteff:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.catalog__item__texteff {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.catalog__texteff {
  font-weight: 900;
  font-size: 7.5rem;
  color: #F9FAFE;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.catalog__texteff:nth-child(1) {
  background: rbga(255, 255, 255, 0);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1.5px #f9fafe;
  color: transparent;
}
.catalog__texteff:nth-child(3) {
  background: rbga(255, 255, 255, 0);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1.5px #f9fafe;
  color: transparent;
}

#catalog_hinata {
  background: #DBEFFC;
  pointer-events: none;
}
#catalog_hinata:hover .hinata__eff__grad {
  top: 0;
}
#catalog_hinata:hover .catalog__item__info {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
#catalog_hinata:hover .catalog__item__img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
#catalog_hinata:hover .hinata__eff {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#catalog_hinata .catalog__item__img {
  position: absolute;
  right: 0;
  bottom: -20px;
}

.hinata__eff {
  font-size: 4.6rem;
  position: absolute;
  top: 105px;
  font-weight: 800;
  white-space: nowrap;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.hinata__eff__grad {
  color: #DBEFFC;
  background-image: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 4px transparent;
  position: absolute;
  top: 5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.hinata__eff__grad:nth-child(2) {
  top: 10rem;
}
.hinata__eff__grad:nth-child(3) {
  top: 15rem;
}
.hinata__eff__grad:nth-child(4) {
  top: 20rem;
}
.hinata__eff__grad:nth-child(5) {
  top: 25rem;
}
.hinata__eff__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#jojo__eff {
  background: #EDE9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  pointer-events: none;
}
#jojo__eff .text_big {
  margin-bottom: 0;
}
#jojo__eff .catalog__item__main {
  margin-bottom: 20px;
}
#jojo__eff .buy_white {
  position: relative;
  bottom: -90px;
  width: 17.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: auto;
}
#jojo__eff .catalog__item__img {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#jojo__eff:hover .jojo__eff__text__item:nth-child(1) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: #272727;
}
#jojo__eff:hover .jojo__eff__text__item:nth-child(2) {
  background-image: linear-gradient(101.82deg, #ffefb7 -169.03%, #dbeffc -48.23%, #ffb691 16.05%, #c6bbec 86.59%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #EDE9F9;
}
#jojo__eff:hover .jojo__eff__text__item:nth-child(3) {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: linear-gradient(101.82deg, #ffefb7 -169.03%, #dbeffc -48.23%, #ffb691 16.05%, #c6bbec 86.59%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #EDE9F9;
}
#jojo__eff:hover .catalog__item__info {
  bottom: -8rem;
}
#jojo__eff:hover .buy_white {
  bottom: -2.5rem;
}
#jojo__eff:hover .catalog__item__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.jojo__eff__text {
  position: relative;
  bottom: -80px;
  font-size: 2.9rem;
  font-weight: 800;
  left: 1rem;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.jojo__eff__text__item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  background: #949494;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 1.5px transparent;
  color: #EDE9F9;
  width: 280px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.jojo__eff__text__item span {
  position: relative;
  left: 20px;
}
.jojo__eff__text__item:nth-child(1) {
  z-index: 2;
}

#artwork {
  text-align: center;
}

.catalog__block {
  overflow-y: hidden;
}

@media (max-width: 1440px) {
  .catalog__item__info {
    max-width: 216px;
  }

  .catalog__item__img img {
    max-width: 32vw;
  }

  .catalog__item__info {
    bottom: -60px !important;
  }

  .hinata__eff {
    top: 80px;
  }

  .jojo__eff__text {
    bottom: -60px;
    left: -1.4rem;
  }

  #jojo__eff .buy_white {
    bottom: -70px;
  }

  #jojo__eff:hover .catalog__item__info {
    bottom: -100px !important;
  }

  .footer__links {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
  }
}
@media (max-width: 1280px) {
  .catalog__item__img img {
    max-width: 32vw;
  }

  .catalog__item__info {
    max-width: 192px;
    padding: 20px;
  }

  #catalog_hinata .catalog__item__img {
    bottom: -20px;
  }

  .main {
    background-size: cover;
  }

  .jojo__eff__text {
    left: -2.5rem;
  }
}
@media (max-width: 1024px) {
  .catalog__item__img img {
    max-width: 32vw;
  }

  .catalog__item__info .buy {
    margin-top: 50px;
  }

  #catalog_hinata .catalog__item__img {
    bottom: -20px;
  }

  .main {
    background-size: cover;
  }

  .catalog_2 .catalog__item {
    padding: 0 35px;
  }

  .catalog_2 .catalog__item__info {
    bottom: -40px !important;
  }

  .jojo__eff__text {
    bottom: -40px;
    left: -4.64rem;
  }

  #jojo__eff .buy_white {
    bottom: -50px;
  }

  #jojo__eff:hover .catalog__item__info {
    bottom: -65px !important;
  }

  #jojo__eff .catalog__item__main {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .catalog__item__info .buy {
    margin-top: 50px;
  }

  #catalog_hinata .catalog__item__img {
    bottom: -20px;
  }

  .main {
    background-size: cover;
  }

  .catalog_2 .catalog__item {
    padding: 0 28px;
  }

  .catalog_2 .catalog__item__info {
    bottom: -30px !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .hinata__eff {
    top: 40px;
  }

  .catalog__item__info .buy {
    margin-top: 35px;
  }

  .catalog__item__text {
    margin-bottom: 5px;
  }

  .catalog_2 .catalog__item__info {
    padding-top: 12px;
    padding-bottom: 14px;
  }

  .jojo__eff__text {
    bottom: -40px;
    left: -9.5rem;
  }

  #jojo__eff:hover .buy_white {
    bottom: -4rem;
  }

  #jojo__eff:hover .catalog__item__info {
    bottom: -60px !important;
  }

  #jojo__eff .catalog__item__main {
    margin-bottom: 10px;
  }
}
.catalog__item__lasteff img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog__item__lasteff {
  overflow: hidden;
}

@media (max-width: 435px) {
  .catalog__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog_2 {
    height: auto;
  }

  .catalog__item__img img {
    max-width: 60vw;
  }

  .catalog__item__img {
    top: 70px;
  }

  .catalog__item {
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }

  #jojo__eff {
    padding-top: 0px !important;
  }

  .catalog__item__lasteff {
    padding: 0 !important;
    min-height: 300px !important;
  }

  .catalog__item__lasteff img {
    max-width: 65vw;
  }

  .catalog__texteff {
    font-size: 9rem;
  }

  .catalog_3 {
    height: auto;
  }

  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__links {
    margin-bottom: 25px;
    grid-gap: 12px !important;
  }
  .footer__links .btn {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 auto !important;
            flex: 0 1 auto !important;
  }

  .main {
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .main__title {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main__bottom {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main__block:hover .main__title {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .main__block:hover .main__bottom {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}