body {
  min-height: 100vh;
}

.footer__sticker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.delivery {
  padding-top: 60px;
}
.delivery .title {
  text-align: left;
}
.delivery__cards {
  margin: 0 -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-row-gap: 25px;
}
.delivery__el__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 12.5px;
}
.delivery__el__wrap_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  min-height: 31rem;
}
.delivery__el__wrap_big .text_med {
  margin-bottom: 1.6rem;
}
.delivery__el__wrap_big .text {
  margin-bottom: 1.8rem;
}
@media (max-width: 435px) {
  .delivery {
    padding-top: 50px;
  }
  .delivery .delivery__el__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .delivery .title {
    text-align: center;
  }
}