html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", monospace;
  position: relative;
  bottom: 0px;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

@media (max-width: 1411px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: none;
    margin: 0 30px;
  }
}
body {
  background: linear-gradient(349.89deg, #E7E7E7 1.73%, #F3F3F3 80.6%);
  font-family: Roboto;
}

.video_noactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #e86159;
  display: none;
}
.video__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__play__button {
  cursor: pointer;
}
.video__logo {
  margin-right: 90px;
}
.video__foter {
  position: absolute;
  bottom: 125px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.43;
  color: #ffffff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
}

.video_active {
  position: relative;
  width: 100%;
  height: 100vh;
}

#video {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.controls {
  position: absolute;
  left: 50%;
  bottom: 125px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play {
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

#time {
  width: 920px;
  height: 25px;
  background: black;
  margin-left: 32px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}
@media (max-width: 1150px) {
  #time {
    width: 700px;
  }
}
@media (max-width: 920px) {
  #time {
    width: 500px;
  }
}
#time_button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background: #e4615a;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  left: 0px;
  cursor: pointer;
}
#time_button:before {
  content: "";
  height: 25px;
  width: 100vw;
  background: #df625b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -7.5px;
  right: 50%;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}
#time_button:after {
  content: "";
  height: 25px;
  width: 100vw;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -7.5px;
  left: 50%;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

#mute {
  margin-right: 32px;
  cursor: pointer;
}

#watermark {
  position: absolute;
  z-index: 1000;
  top: 58px;
  left: 65px;
}

@media (max-width: 650px) {
  #time {
    width: 160px;
    height: 8px;
    margin-left: 0px;
  }

  #time_button {
    height: 4px;
    width: 4px;
    border-width: 3px;
    top: -1px;
  }

  #mute img, #play img {
    width: 25px;
  }

  #mute, #play {
    margin-right: 13px;
  }

  #video {
    -o-object-fit: contain;
       object-fit: contain;
    background-image: linear-gradient(215deg, #d5645e 0%, #ff5d54 100%);
    -webkit-box-shadow: inset 0 75px 35px -20px rgba(0, 0, 0, 0.5), inset 0 -75px 35px -20px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 75px 35px -20px rgba(0, 0, 0, 0.5), inset 0 -75px 35px -20px rgba(0, 0, 0, 0.5);
  }

  .controls {
    bottom: 65px;
  }

  #watermark {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 30px;
  }
}
.main {
  overflow: hidden;
  padding-bottom: 200px;
}

.user {
  margin-top: 90px;
  position: relative;
}
.user__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
.user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.user__photo {
  background: #fff;
  -webkit-box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.18);
          box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.user__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 45px;
  padding-top: 8px;
  margin-bottom: -5px;
}
.user__name__name {
  color: #585858;
  font-family: Roboto;
  font-size: 57px;
  font-weight: 700;
  line-height: 0.5;
}
.user__achiev {
  color: #585858;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user__achiev__all {
  color: #585858;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 15px;
}
.user__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 90px;
  max-height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.user__bg {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#D5645E), color-stop(91.2%, #FF5D54)), #C4C4C4;
  background: linear-gradient(90deg, #D5645E 0%, #FF5D54 91.2%), #C4C4C4;
  -webkit-box-shadow: 0px -38px 64px 30px rgba(255, 93, 84, 0.2), inset 0px -38px 64px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -38px 64px 30px rgba(255, 93, 84, 0.2), inset 0px -38px 64px 30px rgba(0, 0, 0, 0.2);
  z-index: -1;
  top: 400px;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}
.user__card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 450px;
  padding: 50px 40px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 25px;
}
.user__card__title {
  color: #585858;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 35px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.user__card__text {
  color: #585858;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.user__card__text:last-child {
  margin-bottom: 0;
}
.user__card__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 50px;
}
.user__card__more__wrap {
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 100%;
}
.user__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #585858;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.user__card__info img {
  margin-right: 8px;
}

.user__card__achiev_mob {
  display: none;
}

@media (max-width: 650px) {
  html, body {
    overflow-x: hidden !important;
  }

  .user__bg {
    left: -20%;
    top: 300px;
    width: 350px;
    height: 350px;
    -webkit-box-shadow: 0px -38px 64px 5px rgba(255, 93, 84, 0.15), inset 0px -38px 64px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -38px 64px 5px rgba(255, 93, 84, 0.15), inset 0px -38px 64px 30px rgba(0, 0, 0, 0.2);
  }
  .user__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: visible;
  }
  .user__achiev {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user__achiev__all {
    margin-left: 0;
    margin-top: 15px;
  }
  .user__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 40px;
  }
  .user__photo {
    margin-bottom: 25px;
  }
  .user__name {
    margin-left: 0;
  }
  .user__name__name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .user__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    overflow: visible;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding-left: 50%;
    left: 0;
    height: 240px;
  }
  .user__card {
    height: 210px;
    width: 230px;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    margin-right: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0.7;
  }
  .user__card_active {
    height: 240px;
    opacity: 1;
  }
  .user__card__title {
    font-size: 12px;
    padding: 9px;
    margin-bottom: 10px;
  }
  .user__card__text {
    font-size: 9.5px;
    margin-bottom: 12px;
  }
  .user__card__more {
    display: none;
  }
  .user__card__achiev_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 8.5px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .user__card__achiev__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    background: #fff;
    border-radius: 7px;
    padding: 8px 0;
    color: #585858;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .user__card__achiev__item img {
    width: 11px;
    margin-right: 5px;
  }

  .dn {
    display: block;
  }

  .user__slider {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 11px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    width: 150px;
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
    overflow-x: hidden;
  }
  .user__slider__stage {
    background: #f06961;
    border-radius: 2.5px;
    width: 15px;
    height: 5px;
    position: relative;
    left: 0;
    -webkit-transition: width 0.5s ease, left 0.5s ease;
    transition: width 0.5s ease, left 0.5s ease;
  }

  .user.container {
    margin: 0;
  }
}
.achiev__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -47.5px;
}
.achiev__card {
  color: #585858;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  background: linear-gradient(138.27deg, #FFFFFF 16.13%, #EEEEEE 85.12%), #EFEFEF;
  -webkit-box-shadow: -6px -6px 20px 6px #FFFFFF, 5px 5px 20px 5px rgba(0, 0, 0, 0.14), inset -2px -2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: -6px -6px 20px 6px #FFFFFF, 5px 5px 20px 5px rgba(0, 0, 0, 0.14), inset -2px -2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding: 70px;
  position: relative;
}
@media (max-width: 1440px) {
  .achiev__card {
    font-size: 22px;
    padding: 30px;
  }
}
.achiev__card span {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.achiev__card__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  padding: 0 45px;
}
@media (max-width: 1440px) {
  .achiev__card__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
}
@media (max-width: 1140px) {
  .achiev__card__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}
.achiev__add {
  position: absolute;
  bottom: 15%;
  color: #979797;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.achiev__add img {
  margin-right: 6px;
}

.text_red {
  color: #FF5D54;
  font-weight: 700;
}

@media (max-width: 650px) {
  .achiev__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .achiev__card {
    font-size: 14px;
    width: 200px;
  }
  .achiev__card__wrap {
    margin-bottom: 40px;
  }
  .achiev__add {
    font-size: 7px;
  }
  .achiev__add img {
    width: 6px;
  }
}
.title {
  color: #585858;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
@media (max-width: 1410px) {
  .title {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 17px;
    padding: 10px;
  }
}

.text {
  color: #585858;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 1410px) {
  .text {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .text {
    font-size: 14px;
  }
}

.study {
  margin-top: 100px;
  height: 700px;
  background: url(../img/country.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.study__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.study__sub {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 50px 40px 65px;
  border: 2px solid #ececec;
  border-radius: 25px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .study__sub {
    padding-left: 40px;
    padding-right: 20px;
  }
}
.study__sub .title {
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .study__sub .title {
    position: relative;
    right: 10px;
  }
}
.study__sub .text div {
  margin-bottom: 40px;
  line-height: 22px;
}
@media (max-width: 850px) {
  .study__sub .text div {
    margin-bottom: 20px;
  }
}
.study__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}
.study__main__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #f5dfde;
  padding: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-left: 2px solid #ececec;
  border-right: 2px solid #ececec;
  border-top: 2px solid #ececec;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
}
.study__main__head .title {
  margin-right: 18px;
}
.study__main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 95px 15px 35px 105px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-left: 2px solid #ececec;
  border-right: 2px solid #ececec;
  border-bottom: 2px solid #ececec;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
@media (max-width: 1410px) {
  .study__main__body {
    padding-bottom: 0px;
  }
}
.study__main__body img {
  margin-bottom: 75px;
  margin-right: 90px;
}
@media (max-width: 1410px) {
  .study__main__body img {
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .study__main__body img {
    margin-right: 65px;
  }
}
@media (max-width: 810px) {
  .study__main__body img {
    margin-right: 65px;
    width: 40%;
  }
}

@media (max-width: 650px) {
  .study {
    padding-bottom: 100px;
    height: auto;
  }
  .study .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .study__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
  }
  .study__main {
    margin-bottom: 20px;
  }
  .study__main .text {
    text-align: center;
  }
  .study__main__head {
    padding: 25px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .study__main__head .title {
    margin-bottom: 13px;
    margin-right: 0;
  }
  .study__main__body {
    padding: 35px 0;
    padding-bottom: 7px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .study__main__body img {
    margin: 0;
    width: 50px;
  }
  .study__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 28px;
  }
  .study__sub {
    padding-left: 35px;
    margin-top: -50px;
    padding-bottom: 25px;
  }
  .study__sub .text div {
    margin-bottom: 20px;
    line-height: 10px;
    padding-right: 50px;
  }

  .title {
    font-size: 12px;
    padding: 7px 15px;
  }

  .text {
    font-size: 9px;
  }
}
@media (max-width: 350px) {
  .study__sub {
    margin-top: -60px;
  }
}
.window {
  width: 930px;
  height: 700px;
  background: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 79px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 79px rgba(0, 0, 0, 0.11);
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .window {
    width: 700px;
    height: 500px;
    max-width: 95%;
  }
}
.window__content {
  max-width: 85%;
  z-index: 10000000;
}
.window__content img {
  max-width: 100%;
}
.window__back {
  position: absolute;
  bottom: -20px;
  background: #FF5D54;
  border-radius: 10px;
  color: #fff;
  padding: 17px 60px;
  z-index: 10000;
  cursor: pointer;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.window__bg {
  position: absolute;
  left: -100%;
  top: -100%;
  bottom: -100%;
  right: -100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.7);
}

.window_active {
  visibility: visible;
  opacity: 1;
}

.show_window {
  cursor: pointer;
}