html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

@media (max-width: 1411px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: none;
    margin: 0 30px;
  }
}
body {
  background: #f1f1f1;
  font-family: Roboto;
}

.video_noactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #e86159;
  display: none;
}
.video__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__play__button {
  cursor: pointer;
}
.video__logo {
  margin-right: 90px;
}
.video__foter {
  position: absolute;
  bottom: 125px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.43;
  color: #ffffff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
}

.video_active {
  position: relative;
  width: 100%;
  height: 100vh;
}

#video {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.controls {
  position: absolute;
  left: 50%;
  bottom: 125px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play {
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

#time {
  width: 920px;
  height: 25px;
  background: black;
  margin-left: 32px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}
#time_button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background: #e4615a;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  left: 0px;
  cursor: pointer;
}
#time_button:before {
  content: "";
  height: 25px;
  width: 100vw;
  background: #df625b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -7.5px;
  right: 50%;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}
#time_button:after {
  content: "";
  height: 25px;
  width: 100vw;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -7.5px;
  left: 50%;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

#mute {
  margin-right: 32px;
  cursor: pointer;
}

#watermark {
  position: absolute;
  z-index: 1000;
  top: 58px;
  left: 65px;
}

.main {
  overflow: hidden;
  height: 1000px;
}

.user {
  margin-top: 90px;
}
.user__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user__photo {
  background: #fff;
  -webkit-box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.18);
          box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.user__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 45px;
}
.user__name__name {
  color: #585858;
  font-family: Roboto;
  font-size: 57px;
  font-weight: 700;
  line-height: 0.5;
}
.user__achiev {
  color: #585858;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user__achiev__all {
  color: #585858;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 15px;
}