html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", monospace;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1366px;
	margin: 0 auto;
}

@media (max-width: 1411px) {
	.container {
		max-width: 1000px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: none;
		margin: 0 30px;
	}
}
body{
	background: #f1f1f1;
	font-family: Roboto;
}

.video{
	&_noactive{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
		position: relative;
		background: #e86159;
		display: none;
	}
	&__play{
		display: flex;
		align-items: center;
		&__button{
			cursor: pointer;
		}
	}
	&__logo{
		margin-right: 90px;
	}
	&__foter{
		position: absolute;
		bottom: 125px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.43;
		color: #ffffff;
		font-family: Roboto;
		font-size: 21px;
		font-weight: 300;
	}
}
.video_active{
	position: relative;
	width: 100%;
	height: 100vh;
}
#video{
	object-fit: cover;
	overflow: hidden !important;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.controls{
	position: absolute;
	left: 50%;
	bottom: 125px;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}
#play{
	cursor: pointer;
	position: relative;
	z-index: 1000;
}
#time{
	width: 920px;
	height: 25px;
	background: black;
	margin-left: 32px;
	border-radius: 12px;
	background: rgba(255,255,255,0.2);
	position: relative;
	overflow: hidden;
	&_button{
		height: 10px;
		width: 10px;
		border-radius: 50%;
		border: 8px solid #ffffff;
		background: #e4615a;
		box-sizing: content-box;
		position: absolute;
		transform-style: preserve-3d;
		left: 0px;
		cursor: pointer;
		&:before{
			content: "";
			height: 25px;
			width: 100vw;
			background: #df625b;
			display: flex;
			position: absolute;
			bottom: -7.5px;
			right: 50%;
			transform: translateZ(-1px);
		}
		&:after{
			content: "";
			height: 25px;
			width: 100vw;
			background: transparent;
			display: flex;
			position: absolute;
			bottom: -7.5px;
			left: 50%;
			transform: translateZ(1px);
		}
	}
}
#mute{
	margin-right: 32px;
	cursor: pointer;	
}
#watermark{
	position: absolute;
	z-index: 1000;
	top: 58px;
	left: 65px;
}



// Главный блок

.main{
	overflow: hidden;
	height: 1000px;
}
.user{
	margin-top: 90px;
	&__head{
		display: flex;
	}
	&__photo{
		background: #fff;
		box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.18);
		border-radius: 15px;
		width: 92px;
		height: 92px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	&__name{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 45px;
		&__name{
			color: #585858;
			font-family: Roboto;
			font-size: 57px;
			font-weight: 700;
			line-height: 0.5;
		}
	}
	&__achiev{
		color: #585858;
		font-family: Roboto;
		font-size: 23px;
		font-weight: 400;
		display: flex;
		align-items: center;
		&__all{
			color: #585858;
			font-family: Roboto;
			font-size: 12px;
			font-weight: 400;
			padding: 10px 20px;
			border-radius: 15px;
			background-color: #ffffff;
			margin-left: 15px;
		}
	}
}