.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.4;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7.5rem;
  cursor: pointer;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.back__text {
  margin-left: 0.6rem;
  color: #000;
}
.back:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.4);
}
@media (max-width: 435px) {
  .back {
    display: none;
  }
}