.catalog{
	&__eff{
		position: relative;
		&:hover .catalog__el__eff{
			transform: translateX(-50%) scale(3);	
		}
	}
	&__el{
		border: 1px solid #A1FF60;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
		padding-top: 40px;
		position: relative;
		&:hover .catalog__el__white{
			opacity: 1;
			top: 0;
		}
		&:hover .catalog__el__img{
			transform: scale(1.4);
		}
		&:hover .text{
			color: #000;
		}
		&:hover .text__med{
			color: #000;
		}
		&:hover .catalog__el__buy{
			background: #383838;
		}
		&:hover .catalog__el__buy path{
			fill: #fff;
		}
		& .text{
			transition: all .3s;
		}
		& .text__med{
			transition: all .3s;
		}
		&__popul{
			position: absolute;
			top: 20px;
			right: 20px;
			font-weight: bold;
			font-size: 1rem;
			background: #EC46D3;
			border-radius: 3px;
			padding: 3px 8px;
		}
		&__white{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			background: #fff;
			top: 100%;
			opacity: 0;
			transition: all .5s;

		}
		&__img{
			position: relative;
			z-index: 2;
			transform: scale(1);
			transition: all .5s;
		}
		&__foot{
			margin-top: 20px;
			background: rgba(255,255,255,0.03);
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 15px 3.2rem;
			text-align: center;
			position: relative;
			z-index: 2;
		}

		&__eff{
			position: absolute;
			left: 50%;
			transform: translateX(-50%) scale(1.2);
			bottom: 10%;
			transition: all .5s;
		}
	}
	
}