.footer {
  background: #262626;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__links a {
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__links a:hover {
  color: #A1FF60;
}
.footer__work {
  text-align: right;
  line-height: 18px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .btn_green {
  margin-right: 12px;
}
.footer .switch__lang {
  margin-right: 45px;
}
.footer .icon {
  margin-right: 12px;
}
.footer__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.footer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__cards img {
  margin-left: 10px;
}
@media (max-width: 420px) {
  .footer .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .footer__foot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .footer .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .switch__lang {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
  }
  .footer .btn_green {
    margin-bottom: 15px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .footer #map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .footer__links {
    display: none;
  }
  .footer .footer__work {
    text-align: left;
    margin-top: 15px;
    font-size: 8px;
  }
  .footer .footer__cards {
    position: absolute;
    right: -10px;
    bottom: -50px;
  }
  .footer .footer__cards img {
    margin-left: 8px;
  }
}

.switch__lang {
  padding: 6px 5px;
  background: #A1FF60;
  border-radius: 5px;
  color: #383838;
}
.switch__lang img {
  margin-left: 2px;
}

.footer__last {
  padding: 11px 0;
  background: #171717;
}
.footer__last__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__last__block img {
  position: relative;
  top: 3px;
}
.footer__last__text {
  font-weight: 500;
  font-size: 0.7rem;
  color: #8B8B8B;
  margin-left: 10px;
}
.footer__last__text_small {
  font-weight: 500;
  font-size: 0.7rem;
  color: #8B8B8B;
  position: relative;
  top: 1px;
  margin-left: 10px;
  color: #555555;
}