.footer{
	background: #272727;
	color: #fff;
	&__block{
		display: flex;
		padding: 40px 0;
		justify-content: space-between;
	}
	&__links{
		display: flex;
		grid-gap: 20px;
		flex: 0 0 40%;
		flex-wrap: wrap;
		& .btn{
			flex: 1 1 auto;
			text-align: center;
		}
	}
	&__contacts{
		display: flex;
		flex-direction: column;
		grid-gap: 10px;
	}
	& .lang__switcher{
		margin-top: 4px;
	}
}

.lang{
	&_active{
		background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
		border-radius: 5px;
		min-width: 8rem;
		height: 2.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	&_noactive{
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 2px solid #F9FAFE;
		border-right: 2px solid #F9FAFE;
		border-bottom: 2px solid #F9FAFE;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		transform: translateX(-4px);
		min-width: 6.5rem;
		position: relative;
		cursor: pointer;
	}
	&__switcher{
		display: flex;
	}
}
.footer__copy{
	background: #1F1F1F;
	&__block{
		display: flex;
		align-items: center;
		height: 3.4rem;
		color: #F9FAFE;
	}
}
@media (max-width:435px) {
	.lang_active{
		height: 20px;
	}
}