.footer{
	background:#eae9e9;
	z-index: 100;
	position: relative;
	&__wrapper{
		display: flex;
		min-height: 170px;
		padding: 30px 0;
		@media (max-width: 1411px) {
			min-height: 125px;
		}
		@media (max-width:425px) {
			display: none;
		}
	}
	&__about{
		flex: 1 0 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 1411px) {
			font-size: 0.688rem;
		}
	}
	&__social{
		& svg{
			margin-top: 5px;
			@media (max-width: 1411px) {
				width: 17px;
			}
		}
	}
	&__links{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__nav{
			display: flex;
			flex-wrap: wrap;
		}
		&__nav a{
			margin-right: 47.4px;
			color: #e4665f;
			font-size: 0.9rem;
			font-weight: 300;
			&:last-child{
				margin-right: 0;
			}
			@media (max-width: 1411px) {
				font-size: 10px;
				margin-right: 37px;
			}
		}
		&__more{
			display: flex;
			flex-wrap: wrap;
			color: #585858;
			font-size: 0.938rem;
			font-weight: 300;
			& a{
				flex: 1 1 25%;
				margin-top: 10px;
			}
			@media (max-width: 1411px) {
				font-size: 0.7rem;
			}
		}
	}

}
.footer__mob{
	display: none;
	@media (max-width:425px) {
		display: block;
		background: #ffffff;
	}
	&__nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 50px;
	}
	&__button{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 9px;
		font-weight: 300;
	}
}