.footer{
	background: #262626;
	padding-top: 30px;
	padding-bottom: 30px;
	&__block{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__top{
		display: flex;
		justify-content: space-between;
	}
	&__links{
		display: flex;
		width: 25%;
		flex-wrap: wrap;
		& a{
			margin-right: 15px;
			margin-bottom: 15px;
			transition: all .3s;
			&:hover{
				color: #A1FF60;
			}
		}
	}
	&__work{
		text-align: right;
		line-height: 18px;
	}
	&__info{
		display: flex;
	}
	& .btn_green{
		margin-right: 12px;
	}
	& .switch__lang{
		margin-right: 45px;
	}
	& .icon{
		margin-right: 12px;
	}
	&__foot{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 15px;
	}
	&__cards{
		display: flex;
		align-items: center;
		& img{
			margin-left: 10px;
		}
	}
	@media (max-width:420px) {
		.footer__block{
			flex-direction: column-reverse; 
		}
		.footer__foot{
			flex-wrap: wrap;
			position: relative;
		}
		.footer__info{
			flex-wrap: wrap;
			align-items: start;
		}
		.switch__lang{
			order: 3;
			margin-right: 0;
		}
		.btn_green{
			margin-bottom: 15px;
			order: 0;
		}
		#map{
			order: 2;
		}
		.icon{
			order: 1;
		}
		.footer__links{
			display: none;
		}
		.footer__work{
			text-align: left;
			margin-top: 15px;
			font-size: 8px;
		}
		.footer__cards{
			position: absolute;
			right: -10px;
			bottom: -50px;
			& img{
				margin-left: 8px;
			}
		}
	}
}
.switch__lang{
	padding: 6px 5px;
	background: #A1FF60;
	border-radius: 5px;
	color: #383838;
	& img{
		margin-left: 2px;
	}
 
}


.footer__last{
	padding: 11px 0;
	background: #171717;
	&__block{
		display: flex;
		align-items: center;
		& img{
			position: relative;
			top: 3px;
		}

	}
	&__text{
		font-weight: 500;
		font-size: 0.7rem;
		color: #8B8B8B;
		margin-left: 10px;
		&_small{
			font-weight: 500;
			font-size: 0.7rem;
			color: #8B8B8B;
			position: relative;
			top: 1px;
			margin-left: 10px;
			color: #555555;
		}
	}
}