html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", monospace;
	overflow-x: hidden;
	transition: all .5s;
	opacity: 0;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1360px;
	margin: 0 auto;
}


body{
	background: #F9FAFE;
	color: #272727;
	font-family: Roboto;
}

.btn{
	padding: 10px 15px;
	font-size: 0.875rem;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: all .3s;
	&__wrap{
		display: flex;
		column-gap: 0.625rem;
	}
	&_blue{
		background: #DBEFFC;
		&_active{
			background: #FFD8C4; 
			pointer-events: none;
		}
		&:hover{
			background: #FFD8C4; 
		}
	}
	&_black{
		background: #272727;
		color: #fff;
	}
	&_grey{
		background: #474747;
		color: #fff;
	}
	&_white{
		background: #EAEDF7;
		color: #272727;
		&:hover{
			background: #FFD8C4; 
		}
	}
	&_small{
		width: 36px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.3rem;
		cursor: pointer;
	}
}
.more__button{
	border-radius: 0.3rem;
	padding: 0.5rem 0.875rem;
	font-weight: 500;
	font-size: 1.1rem; 
	margin-right: 1.3rem;
	&__wrap{
		position: absolute;
		top: 2rem;
		left: 2.2rem;
		display: flex;
	}
	&_orange{
		background: #FFD8C4; 
	}
	&_purple{
		background: #C6BBEC;
	}
}
.mark{
	position: relative;
	transition: all .3s;
	width: 2.5rem;
	height: 2.25rem;
	border-radius: 0.3rem;
	cursor: pointer;
	column-gap: 0.625rem;
	&__wrap{
		display: flex;
	}
	&_black{
		background: #272727;
	}
	&_orange{
		background: #F4A52E;
	}
	&_white{
		background: #ffffff;
		border: 1px solid #949494;
		&:after{
			background: url('/img/mark_black.png') !important;
		}
	}
	&:after{
		content: '';
		opacity: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		background: url('/img/mark.png');
		width: 15px;
		height: 12px;
		transition: all .1s;
	}
	&_active{
		&:after{
			opacity: 1;
		}
	}
}
.text{
	font-size: 0.875rem;
}
.text_small{
	font-size: 0.75rem;
}
.text_med{
	font-size: 1.125rem;
}
.text_bold{
	font-weight: bold;
}
.text_grey{
	color: #949494;
}
.text_27{
	color: #272727;
}
.text_black{
	color: #000;
}
.text_old{
	color: #949494;
}
.text_big{
	font-size: 1.875rem;
}
.buy{
	background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
	border-radius: 0.625rem;
	color: #F9FAFE;
	font-size: 1.875rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 4.375rem;
	cursor: pointer;
	font-weight: 800;
}
.buy_white{
	border-radius: 0.625rem;
	font-size: 1.875rem;
	background: #F9FAFE;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 4.375rem;
	cursor: pointer;
	font-weight: 800;
	& span{
		color: transparent;
		background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);
		background-clip: text;
	}
}
.cost_old{
	font-size: 1.125rem;
	color: #949494;
	text-decoration: line-through;
}
.cost_new{
	font-weight: 500;
	font-size: 1.25rem;
	color: #272727;
}


@media (max-width: 1440px) {
	.container {
		max-width: 972px;
	}
	html {
		font-size: 12px;
	}
}
@media (max-width: 1280px) {
	.container {
		max-width: 972px;
	}
	html {
		font-size: 10.5px;
	}
	.btn{
		padding-bottom: 7px;
		padding-top: 7px;
		&_small{
			width: 25px;
			height: 25px;
			& svg{
				max-width: 40%;
			}
		}
	}
}
@media (max-width: 1024px) {
	.container {
		max-width: none;
		margin: 0 27px; 
	}
	html {
		font-size: 9px;
	}
	.btn{
		padding-bottom: 7px;
		padding-top: 7px;
		&_small{
			width: 25px;
			height: 25px;
			& svg{
				max-width: 40%;
			}
		}
	}
}
@media (max-width: 768px) {
	.container {
		max-width: none;
		margin: 0 21px; 
	}
	html {
		font-size: 6.5px;
	}
}