.header__mob__burger{
	display: none;
}
.header{
	padding: 18px 0;
	height: 70px;
	position: relative;
	z-index: 4;
	background: #F9FAFE;
	&__block{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__main{
		display: flex;
		align-items: center;
		& *{
			position: relative;
			z-index: 4;
		}
	}
	&__links{
		margin-left: 35px;
		display: flex;
		column-gap: 15px;
		position: relative;
		top: -5px;
	}
	&__controls{
		display: flex;
		align-items: center;
		position: relative;
		top: -5px;
		column-gap: 15px;
	}
	&__submenu{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #EAEDF7;
		height: 18.5rem;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
		padding-bottom: 4.5rem;
		padding-top: 2.2rem;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-125%);
		transition: all .5s;
		&_active{
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
		&__block{
			column-gap: 3.75rem;
			display: flex;
			display: none;
			&_active{
				display: flex;
			}
		}
		&__col{
			display: flex;
			flex-direction: column;
		}
		&__title{
			position: relative;
			color: #272727;
			font-weight: 600;
			margin-bottom: 1.5rem;
			&:after{
				content: '';
				position: absolute;
				bottom: -6px;
				left: 0;
				width: 60px;
				height: 1px;
				background: #272727;
			}
		}
		&__el{
			margin-bottom: 0.5rem;
		}
	}
	@media (max-width:1280px) {
		height: 50px;
		padding: 9px 0;
		& .header__logo{
			position: relative;
			top: -5px;
			transform: scale(0.8);
		}
	}
}
@media (max-width:435px) {
	.header{
		position: fixed;
		top: auto !important;
		bottom: 0;
		left: 0;
		top: 0;
		z-index: 10000;
		height: auto;
		width: 100vw;
		padding: 0;
		&__controls{
			top: 0;
		}
		&__block{
			height: 80px;
		}
		&__logo{
			display: none;
		}
		&__links{
			position: fixed;
			flex-direction: column;
			background: #EAEDF7;
			top: 0;
			bottom: 80px;
			left: 0;
			right: 0;
			margin-left: 0;
			padding-top: 70px;
			padding-left: 20px;
			grid-gap: 60px;
			opacity: 0;
			visibility: hidden;
			transition: all .5s;
			&_active{
				opacity: 1;
				visibility: visible;
			}
			& .btn_blue{
				background: transparent !important;
				font-size: 18px;
				color: #949494;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					height: 1px;
					background: #949494;
					opacity: 0.4;
					bottom: -30px;
					left: -40px;
					right: -40px;
				}
			}

		}
		& .btn_small{
			width: 40px;
			height: 40px;
			border-radius: 5px;
		}
		&__mob__burger{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			background: #DBEFFC;
			border-radius: 5px;
			grid-gap: 3px;
			&__line{
				background: #0A0B11;
				width: 20px;
				height: 2px;
				border-radius: 5px;
				transition: all .5s;
			}
			&_active{
				& .header__mob__burger__line{
					&:nth-child(2) {
						opacity: 0;
						visibility: hidden;
					}
					&:nth-child(1) {
						transform: rotate(45deg) translate(2px,4px);
					}
					&:nth-child(3) {
						transform: rotate(-45deg) translate(3px,-4px);
					}
				}
			}
		}
	}
}
.btn_blue{
	position: relative;
	& svg{
		position: relative;
		z-index: 1000;
	}
}
.search{
	position: absolute;
	border: none;
	outline: none;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	background: #C6BBEC;
	border-radius: 5px;
	width: 0;
	max-width: 31rem;
	transition: all .5s;
	opacity: 0;
	visibility: hidden;
	color: #272727;
	padding-left: 1.3vw;
	&_active{
		width: 28vw;
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
}
.search_btn{
	&:after{
		content: '';
		position: absolute;
		right: 100%;
		bottom: 20%;
		max-width: 28rem;
		width: 0;
		height: 1px;
		background: #272727;
		border-radius: 1px;
		opacity: 0;
		visibility: hidden;
		transition: all .5s ease;
	}
	&_active{
		&:after{
			opacity: 1;
			visibility: visible;
			width: 24vw;
		}
	}
}