.header{
	padding: 18px 0;
	height: 70px;
	&__block{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__main{
		display: flex;
		align-items: center;
	}
	&__links{
		margin-left: 35px;
		display: flex;
		column-gap: 15px;
		position: relative;
		top: -5px;
	}
	&__controls{
		display: flex;
		align-items: center;
		position: relative;
		top: -5px;
		column-gap: 15px;
	}
}