header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
@media (max-width: 1411px) {
  header {
    height: 52px;
  }
}
@media (max-width: 425px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    height: auto;
  }
}

@media (max-width: 425px) {
  .header__container {
    max-width: none;
    margin: 0;
    margin-right: 50px;
  }
}
.logo {
  cursor: pointer;
}
@media (max-width: 1411px) {
  .logo {
    height: 51px;
  }
}
@media (max-width: 1411px) {
  .logo img {
    width: 64px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.button__icon {
  width: 64px;
  height: 71px;
  background: #fcfcfc;
  border-radius: 0 0 1.125rem 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  z-index: 30;
}
@media (max-width: 425px) {
  .button__icon {
    display: none;
  }
}
.button__icon:hover path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #fff;
}
.button__icon:hover {
  height: 78px;
  background: #fc5b53;
  -webkit-box-shadow: inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
          box-shadow: inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
}
.button__icon:hover .button__icon__more {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1411px) {
  .button__icon:hover {
    height: 56px;
  }
}
.button__icon path {
  fill: #585858;
}
.button__icon svg {
  margin-bottom: 25px;
}
@media (max-width: 1411px) {
  .button__icon svg {
    margin-bottom: 15px;
    width: 18px;
  }
}
.button__icon__more {
  position: absolute;
  bottom: -77px;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 170px;
  background: #fbfbfb;
  padding: 23px 19px;
  color: #a7a7a7;
  font-size: 0.813rem;
  font-weight: 400;
  -webkit-box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0), inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
          box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0), inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1411px) {
  .button__icon {
    max-width: 47px;
    height: 51px;
    padding-bottom: 0;
  }
}

.triangle {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 40px solid #fbfbfb;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 0;
  left: 50%;
  -webkit-transform: skewX(-20deg) translate(-50%, -100%);
          transform: skewX(-20deg) translate(-50%, -100%);
}

@-webkit-keyframes gradient {}

@keyframes gradient {}
.button__menu {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 156px;
  max-height: 72px;
  min-height: 72px;
  border-radius: 0 0 1.125rem 1.125rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  color: #585858;
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  z-index: 10000;
  position: relative;
  background: #fff;
}
.button__menu_regular {
  font-weight: 400;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
}
.button__menu_bold {
  font-weight: 700;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 0;
}
.button__menu:after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#D5645E), color-stop(91.2%, #FF5D54)), #FFFFFF;
  background: linear-gradient(90deg, #D5645E 0%, #FF5D54 91.2%), #FFFFFF;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.button__menu:hover {
  color: #fff;
  max-height: 500px;
  font-weight: 700;
}
.button__menu:hover .button__menu__more {
  opacity: 1;
}
.button__menu:hover:hover:after {
  opacity: 1;
}
.button__menu span {
  position: absolute;
  top: 36px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 1411px) {
  .button__menu span {
    top: 26px;
  }
}
@media (max-width: 425px) {
  .button__menu {
    display: none;
  }
}
.button__menu_active {
  color: #ffffff;
  background: #fff;
  font-weight: 400;
}
@media (max-width: 425px) {
  .button__menu_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0px;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    height: auto !important;
    min-height: 37px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 15px;
  }
}
.button__menu__more {
  position: relative;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  margin-bottom: 20px;
  padding: 0 10px;
}
.button__menu__more a {
  margin-bottom: 15px;
}
@media (max-width: 1411px) {
  .button__menu__more {
    font-size: 10px;
  }
  .button__menu__more a {
    margin-bottom: 15px;
  }
}
@media (max-width: 1411px) {
  .button__menu {
    width: 112px;
    max-height: 52px;
    min-height: 52px;
    font-size: 0.813rem;
  }
}

.button__menu.button__menu_active:after {
  opacity: 1;
}

.button__menu_active_grad:after {
  opacity: 0 !important;
}

.button__menu:hover .button__menu_regular {
  opacity: 0 !important;
}

.button__menu:hover .button__menu_bold {
  opacity: 1 !important;
}

.button__menu_active .button__menu_bold {
  opacity: 1;
}

.button__menu_active .button__menu_regular {
  opacity: 0;
}