.info__card{
	min-height: 20rem;
	height: 100%;
	background: linear-gradient(140.74deg, #323232 -30.46%, #212121 100.55%);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 3rem;
	&__svg{
		cursor: pointer;
	}
	&__bar{
		font-weight: 500;
		font-size: 1.3rem;
		background: #383838;
		border-radius: 8.88889px;
		padding: 0.5rem 1.5rem;
		color: #eee;
		flex: 0 0 auto;
	}
	&__row{
		display: flex;
		align-items: center;
		&_center{
			justify-content: center;
		}
		&_sb{
			justify-content: space-between;
		}
	}
	&_left{
		align-items: flex-start;
		& .text__med{
			align-self: center;
		}
	}
	&_small{
		min-height: 0;
		height: auto;
		flex: 0 0 45%;
	}
	&__img{
		display: flex;
		align-items: center;
		grid-column-gap: 10px;
		margin-bottom: 2.3rem;
		margin-top: 1.45rem;
		&:last-child{
			margin-bottom: 0 !important;
		}
	}
	& .text_med{
		margin-bottom: 0.7rem;
		text-align: center;
		font-weight: 500;
		width: 100%;
	}
	& .text{
		width: 100%;
		margin-bottom: 1.5rem;
		text-align: left;
		line-height: 1.3rem;
		font-weight: 300;
		&:last-child{
			margin-bottom: 0;
		}
	}
}