.mob__menu{
	display: none;
}
@media (max-width:420px) {
	.mob__menu{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		background: #262626;
		z-index: 1000;
		display: block;
		&__search{
			background: #383838;
			border-radius: 8px;
			width: 75vw;
			height: 35px;
			display: flex;
			align-items: center;
			padding-left: 15px;
			padding-right: 15px;
			border: none;
			color: #9C9C9C;
			font-weight: 300;
			font-size: 9.6px;
			&__block{
				position: fixed;
				background: #1C1C1C;
				top: 100%;
				transition: all .5s;
				left: 0;
				right: 0;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				padding-top: 40px;
				&_active{
					top: 0;
				}
			}
		}
		&__container{
			z-index: 1000;
			position: relative;
		}
		&__block{
			display: flex;
			align-items: center;
			height: 65px;
			justify-content: space-between;
		}
		&__switcher{
			font-weight: bold;
			font-size: 1.3rem;
			line-height: 15px;
			color: #383838;
			background: #A1FF60;
			border-radius: 6.46875px;
			padding: 10px 12px;
		}
		&__el{
			cursor: pointer;
		}
		&__main{
			width: 100%;
			background: #1C1C1C;
			position: relative;
			top: 100vh;
			opacity: 0;
			transition: all .5s;
			max-height: 0;
			z-index: 100;
			&_active{
				min-height: calc(100vh - 63px);
				opacity: 1;
				top: 0;
				max-height: 101vh;
			}
			&__block{
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 22vh;
				position: relative;
				& .mob__link{
					margin-bottom: 25px;
				}
				& .btn_green{
					width: 260px;
					margin-bottom: 15px;
					font-size: 19.665px;
					display: flex;
					justify-content: center;
					align-items: center;
					& svg{
						position: relative;
						bottom: -2px;
						margin-right: 14px;
					}
				}
				& .mob__link_last{
					margin-bottom: 100px;
				}
			}
		}
	}
	.mob__link{
		font-size: 23.2875px;
		text-align: center;
		color: #EEEEEE;
	}

}