body {
  min-height: 100vh;
}

.footer__sticker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart {
  padding-top: 4rem;
  overflow-y: hidden;
}
.cart__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}
.cart__cards {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-row-gap: 1.4rem;
  max-height: 65vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.cart__card {
  width: 100%;
  height: 120px;
  border: 1.33333px solid #EC46D3;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart__card:hover .cart__card__img:after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.cart__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart__card__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__card__count {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  background: rgba(238, 238, 238, 0.05);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart__card__icon {
  height: 26px;
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6.66667px;
  cursor: pointer;
}
.cart__card__icon_purple {
  border: 1.33333px solid #EC46D3;
}
.cart__card__icon_fullpurple {
  background: #EC46D3;
}
.cart__card__icon_grey {
  border: 1.33333px solid #8B8B8B;
  margin-left: 0.95rem;
}
.cart__card__settings {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__card__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 6.72051px;
  background: rgba(238, 238, 238, 0.05);
  padding: 0 0.92rem;
  height: 100%;
  min-height: 2rem;
}
.cart__card__cost_grey {
  color: #8B8B8B;
}
.cart__card__cost_big {
  font-weight: bold;
  font-size: 1.2rem;
  color: #eee;
}
.cart__card__cost_small {
  font-size: 0.8rem;
  margin-left: 5px;
  position: relative;
  bottom: -2px;
}
.cart__card__img {
  position: relative;
}
.cart__card__img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("/img/purple_eff.png");
  background-position: center center;
  background-size: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}