$catalog_trans:.5s;
$main_trans:.3s;
.catalog_3{
	height: 100vh;
	& .catalog__item{
		flex: 0 0 33.333%;
		height: inherit;
	}
	@media (max-width:450px) {
		height: auto;
	}
}
#catalog_kaguya{
	background: linear-gradient(101.82deg, #FFEFB7 -169.03%, #DBEFFC -48.23%, #FFB691 16.05%, #C6BBEC 86.59%);

}
#catalog_hinata2{
	background: linear-gradient(111.88deg, #FFEFB7 -190.23%, #FFB691 -110.11%, #DBEFFC 5.73%, #C6BBEC 100%);

}
#catalog_itachi{
	background: linear-gradient(70.75deg, #FFEFB7 2.87%, #FFB691 51.2%, #DBEFFC 123.32%, #C6BBEC 150.18%);

}
.catalog__block{
	height: 100%;
	display: flex;
	@media (max-width:450px) {
		flex-direction: column;
	}
}
.catalog__item__lasteff{
	position: relative;
	overflow: hidden;
	& img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		transition: all $catalog_trans;
		max-width: 100%;
	}
	@media (max-width:450px) {
		min-height: 405px !important;
	}
	&:hover{
		.catalog__texteff:nth-child(1){
			color: #fff;
			transform: translateY(200%);
			-webkit-text-stroke: 1.5px rgba(249, 250, 254, 0);
		}
		.catalog__texteff:nth-child(5){
			color: #fff;
			transform: translateY(-200%);
			-webkit-text-stroke: 1.5px rgba(249, 250, 254, 0);
		}
		.catalog__texteff:nth-child(2){
			color: #fff;
			transform: translateY(100%);
			-webkit-text-stroke: 1.5px rgba(249, 250, 254, 0);
		}
		.catalog__texteff:nth-child(4){
			color: #fff;
			transform: translateY(-100%);
			-webkit-text-stroke: 1.5px rgba(249, 250, 254, 0);
		}
		.catalog__item__texteff{
			transform: translate(-50%,-50%) scale(1.1);
		}
		& img{
			transform: translate(-50%,-50%) scale(1.2);
		}
	}
}
.catalog__item__texteff{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: all $catalog_trans;
}
.catalog__texteff{
	font-weight: 900;
	font-size: 7.5rem;
	color: #F9FAFE;
	transition: all $catalog_trans;
	&:nth-child(1){
		background: rbga(255,255,255,0);
		background-clip: border-box;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-stroke: 1.5px rgba(249, 250, 254, 1);;
		color: transparent;
	}
	&:nth-child(2){
		background: rbga(255,255,255,0);
		background-clip: border-box;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-stroke: 1.5px rgba(249, 250, 254, 1);;
		color: transparent;
	}
	&:nth-child(4){
		background: rbga(255,255,255,0);
		background-clip: border-box;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-stroke: 1.5px rgba(249, 250, 254, 1);;
		color: transparent;
	}
	&:nth-child(5){
		background: rbga(255,255,255,0);
		background-clip: border-box;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-stroke: 1.5px rgba(249, 250, 254, 1);;
		color: transparent;
	}
	
}
#catalog_hinata{
	background: #DBEFFC;
	pointer-events: none;
	&:hover{
		.hinata__eff__grad{
			top: 0;
		}
		.catalog__item__info{
			transform: translateX(30px);
		}
		.catalog__item__img{
			transform: scale(.9);
		}
		.hinata__eff{
			transform: scale(1.2);
		}
	}
	& .catalog__item__img{
		position: absolute;
		right: 0;
		bottom: -20px;
	}
}