.main{ 
	background: #EAEDF7;
	padding-top: 6rem;
	padding-bottom: 2.5rem;
	&__more{
		position: absolute;
		border-radius: 0.3rem;
		padding: 0.5rem 0.875rem;
		top: 2rem;
		left: 2.2rem;
		font-weight: 500;
		font-size: 1.1rem;
		transition: all .3s;
		opacity: 1;
		visibility: visible;
		&:nth-child(2){
			top: 5rem; 
		}
		&_purple{
			background: #C6BBEC;
		}
		&_orange{
			background: #FFD8C4; 
		}
	}
	&__catalog{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		&__more{
			background: #F9FAFE;
			padding: 0;
			min-height: 100%;
			height: 36rem;
			opacity: 0;
			visibility: hidden;
			max-width: 0;
			transform: translateX(-150px);
			transition: all .5s;
			border-top-right-radius: 0.625rem;
			border-bottom-right-radius: 0.625rem;
		}
		&__size{
			& span{
				font-weight: 500;
				font-size: 1.1rem;
			}
			& .btn__wrap{
				margin-top: 1.1rem;	
				margin-bottom: 2.5rem;
			}	
		}
		&__count{
			color: #fff;
			background: #272727;
			pointer-events: none;
			&__block{
				font-weight: 500;
				margin: 2.5rem 0;
				& .btn{
					width: 2.25rem !important;
					height: 2.25rem !important;
				}

			}
		}
		&__desc{
			font-weight: 500;
			font-size: 1.1rem;
			&__white{
				color: #949494;
				font-size: 0.875rem;
				margin-top: 1.1rem;
			}
		}
		&__buy{
			width: 13.75rem;
			height: 3.75rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #EDE9F9;
			border-radius: 5px;
			cursor: pointer;
		}
		&__item{
			height: 36rem;
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;
			transition: all .3s;
			min-width: 100%;
			&_active{
				flex: 0 0 50% !important;
				& .main__more{
					opacity: 0;
					visibility: hidden;
				}
				& .main__catalog__item{
					min-width: 50%;
				}
				& .main__catalog__item__info{
					border-bottom-right-radius: 0px !important;
				}
				& .main__catalog__item__head{
					border-top-right-radius: 0px !important;
				}
				& .main__catalog__more{
					opacity: 1;
					visibility: visible;
					max-width: 1000px;
					transform: translateX(0);
					padding: 2.5rem;
				}
			}
			&__block{
				display: flex;
			}
			&__more{
				flex: 0 0 25%;
			}
			&:hover{
				transform: scale(1.02);
			}
			&__wrap{
				flex: 0 0 25%;
				padding: 0 5px;
			}
			&__head{
				height: 80%;
				width: 100%;
				border-top-left-radius: 0.6rem;
				border-top-right-radius: 0.6rem;
				overflow: hidden;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #F9FAFE;
				& img{
					object-fit: cover;
				}
			}
			&__info{
				width: 100%;
				height: 20%;
				background: #F9FAFE;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 2rem;
				border-bottom-left-radius: 0.6rem;
				border-bottom-right-radius: 0.6rem;
			}
		}
	}
}