.cart {
  padding-bottom: 3.75rem;
  background: #EAEDF7;
}
.cart__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cart__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.667%;
          flex: 0 0 66.667%;
  grid-gap: 1.5rem;
}
.cart__product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74%;
          flex: 0 0 74%;
  height: 14rem;
  background: #F9FAFE;
  border-radius: 0.625rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
.cart__product__img {
  height: 100%;
}
.cart__product__img img {
  max-height: 100%;
}
.cart__product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-left: 1.25rem;
}
.cart__product__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.cart__product__cost .cost_new {
  position: relative;
  top: -1px;
}
.cart__product__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.cart__size__option {
  width: 2.56rem;
  height: 2.25rem;
  border-radius: 0.31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.cart__size__large {
  background: #272727;
  color: #F9FAFE;
}
.cart__size__accept {
  background: #F4A52E;
}
.cart__size__count {
  padding: 0 0.81rem;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 0.31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__count {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.cart__cost {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  background: #F9FAFE;
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2.18rem 2.5rem;
}
.cart__cost__name {
  color: #272727;
  font-weight: 500;
  font-size: 1.125rem;
}
.cart__cost__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}
.cart__cost__old {
  font-size: 0.875rem;
  color: #949494;
}
.cart__cost__new {
  font-size: 0.875rem;
  color: #272727;
  margin-left: 0.6rem;
  font-weight: 500;
}
.cart__cost__confirm {
  width: 100%;
  height: 3.1rem;
  background: #272727;
  border-radius: 0.625rem;
  color: #F9FAFE;
  font-size: 0.875rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.cart__control {
  width: 3.125rem;
  height: 3.125rem;
  background: #F9FAFE;
  border-radius: 0.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.cart__remove {
  background: #272727;
}

@media (max-width: 1024px) {
  .cart__control svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media (max-width: 768px) {
  .cart__control svg {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@media (max-width: 435px) {
  .cart__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cart__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cart__main__wrap {
    width: 100%;
  }

  .cart__product__img img {
    max-width: 100%;
  }

  .cart__product {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .cart__count {
    margin-top: 18px;
  }

  .cart__cost {
    margin-top: 30px;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }
}