html {
	font-size: 13px;
	overflow-x: hidden !important;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	overflow-x: hidden !important;
	color: #E9E9E9;
	background: #212121;
	position: relative;

}
section{
	overflow-x: hidden;
}
html {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

@media (max-width: 1170px) {
	.container {
		max-width: 992px;
	}
	html{
		font-size: 11px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: none;
		margin: 0 30px;
	}
	html{
		font-size: 9px;
	}
}
@media (max-width: 768px) {
	html{
		font-size: 7px;
	}
}
@media (max-width: 420px) {
	header{
		display: none;
	}
	html{
		font-size: 10px;
	}
}
@media (max-width: 330px) {
	.container {
		margin: 0 15px;
	}
}



input{
	outline: none !important;
}
body{
	min- height: 100vh;
}
.sticker{
	padding-top: 40px;
	& .title{
		margin-bottom: 30px;
	}
}
.footer__sticker{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
