html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

@media (max-width: 1411px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: none;
    margin: 0 30px;
  }
}
body {
  background: #f1f1f1;
  font-family: Roboto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header img {
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
@media (max-width: 425px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
}

@media (max-width: 425px) {
  .header__container {
    max-width: none;
    margin: 0;
    margin-right: 50px;
  }
}
.logo {
  cursor: pointer;
}
@media (max-width: 1411px) {
  .logo {
    height: 51px;
  }
}
@media (max-width: 1411px) {
  .logo img {
    width: 64px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.button__icon {
  width: 64px;
  height: 71px;
  background: #fcfcfc;
  border-radius: 0 0 1.125rem 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
}
@media (max-width: 425px) {
  .button__icon {
    display: none;
  }
}
.button__icon:hover path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #fff;
}
.button__icon:hover {
  height: 78px;
  background: #fc5b53;
  -webkit-box-shadow: inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
          box-shadow: inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
}
.button__icon:hover .button__icon__more {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1411px) {
  .button__icon:hover {
    height: 56px;
  }
}
.button__icon path {
  fill: #585858;
}
.button__icon svg {
  margin-bottom: 22px;
}
@media (max-width: 1411px) {
  .button__icon svg {
    margin-bottom: 19px;
    width: 18px;
  }
}
.button__icon__more {
  position: absolute;
  bottom: -77px;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 170px;
  background: #fbfbfb;
  padding: 23px 19px;
  color: #a7a7a7;
  font-size: 0.813rem;
  font-weight: 400;
  -webkit-box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0), inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
          box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0), inset 0.063rem 0.063rem 1.688rem rgba(110, 110, 110, 0.07);
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1411px) {
  .button__icon {
    max-width: 47px;
    height: 51px;
    padding-bottom: 0;
  }
}

.triangle {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 40px solid #fbfbfb;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 0;
  left: 50%;
  -webkit-transform: skewX(-20deg) translate(-50%, -100%);
          transform: skewX(-20deg) translate(-50%, -100%);
}

.button__menu {
  width: 156px;
  height: 72px;
  background: #fff;
  border-radius: 0 0 1.125rem 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: #585858;
  cursor: pointer;
}
@media (max-width: 425px) {
  .button__menu {
    display: none;
  }
}
.button__menu_active {
  background: #d9635d;
  color: #ffffff;
}
@media (max-width: 425px) {
  .button__menu_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0px;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    height: auto !important;
    min-height: 37px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 15px;
  }
}
@media (max-width: 1411px) {
  .button__menu {
    width: 112px;
    height: 52px;
    font-size: 0.813rem;
  }
}

.main {
  margin-top: 120px;
  background: url("/img/Words.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 110px;
}
@media (max-width: 1411px) {
  .main {
    background: url("/img/Flower.png");
    background-position: center 250px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 425px) {
  .main {
    background: url("/img/Flower.png") fixed center 300px no-repeat;
    background-size: 80%;
    margin-top: 60px;
  }
}

.title {
  color: #585858;
  font-size: 3.063rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 425px) {
  .title {
    font-size: 1.25rem;
  }
}

.main__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 85px;
  margin-left: -10px;
  margin-right: -10px;
}
@media (max-width: 425px) {
  .main__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}
.main__cards__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.main__cards__card {
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 2rem;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1411px) {
  .main__cards__card {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 425px) {
  .main__cards__card {
    background: #ffffff;
  }
}
.main__cards__subtitle {
  color: #585858;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 1411px) {
  .main__cards__subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .main__cards__subtitle {
    font-size: 0.8rem;
  }
}
.main__cards__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.main__cards__select {
  padding: 20px 20px;
  background: #fff;
  border-radius: 0.5rem;
  color: #ff504f;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.main__cards__select:hover {
  background: #f45f57;
  color: #fdfdfd;
}
.main__cards__select:last-child {
  margin-bottom: 0;
}
@media (max-width: 1411px) {
  .main__cards__select {
    font-size: 1rem;
    padding: 15px;
  }
}
@media (max-width: 425px) {
  .main__cards__select {
    font-size: 0.8rem;
    padding: 12px 15px;
    background: #ececec;
    color: #585858;
  }
}
.main__cards__foot {
  height: 125px;
  background: #fff;
  margin-top: 45px;
  margin-left: -50px;
  margin-right: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f45f57;
  font-size: 2.2rem;
  font-weight: 700;
}
@media (max-width: 1411px) {
  .main__cards__foot {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    color: #585858;
    font-size: 1.125rem;
    font-weight: 700;
    background: #f9e9ea;
    padding: 10px 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .main__cards__foot {
    background: #f45f57;
    font-size: 0.8rem;
    padding: 10px 20px;
    color: #ffffff;
  }
}

.footer {
  background: #eae9e9;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 170px;
  padding: 30px 0;
}
@media (max-width: 1411px) {
  .footer__wrapper {
    min-height: 125px;
  }
}
@media (max-width: 425px) {
  .footer__wrapper {
    display: none;
  }
}
.footer__about {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1411px) {
  .footer__about {
    font-size: 0.688rem;
  }
}
.footer__social svg {
  margin-top: 5px;
}
@media (max-width: 1411px) {
  .footer__social svg {
    width: 17px;
  }
}
.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__links__nav a {
  margin-right: 42px;
  color: #e4665f;
  font-size: 0.9rem;
  font-weight: 300;
}
.footer__links__nav a:last-child {
  margin-right: 0;
}
@media (max-width: 1411px) {
  .footer__links__nav a {
    font-size: 0.7rem;
  }
}
.footer__links__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #585858;
  font-size: 0.938rem;
  font-weight: 300;
}
.footer__links__more a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin-top: 10px;
}
@media (max-width: 1411px) {
  .footer__links__more {
    font-size: 0.7rem;
  }
}

.footer__mob {
  display: none;
}
@media (max-width: 425px) {
  .footer__mob {
    display: block;
    background: #ffffff;
  }
}
.footer__mob__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}