.main__cards{
	@media (max-width:768px) {
			flex-direction: column;
		}
		&__chose{
			height: 90px;
			display: flex;
			justify-content: center;
			align-items: center;
			&__wrap{
				padding: 0 20px;
				flex: 0 0 50%;
			}
			& .main__cards__card__for{
				margin-right: 0;
			}
		}
		&__select{
			opacity: 0;
			visibility: hidden;
			max-height: 0;
			margin-top: 0 !important;
			transition: .3s;
			&_active{
				margin: 0 -20px;
				margin-top: 20px !important;
				max-height: 400px;
				visibility: visible;
				opacity: 1;
			}
		}
		&__sign{
			height: 90px;
			background: linear-gradient(340.71deg, #D5645E 8.57%, #FF5D54 81.53%) !important;
			border: none !important;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			color: #fff;
			cursor: pointer; 
		}
		&__row{
			display: flex;
			justify-content: space-between;
			margin: 0 -20px;
			margin-top: 20px;
		}
		&__links{
			display: flex;
			margin-top: 25px;
			flex-wrap: wrap;
			grid-gap: 10px;
			&__item{
				background: #FF5D54;
				border-radius: 9.52941px;
				font-weight: bold;
				font-size: 16.2px;
				color: #fff;
				padding: 8px 13px;
				transition: all .3s;
				cursor: pointer;
				white-space: nowrap;
				max-width: 1000px;
				overflow: hidden;
				&_noactive{
					opacity: 0 !important;
					visibility: collapse !important;
					max-width: 0;
				}
				&_active{
					background: #fff;
					color: #FF5D54;
				}
				@media (max-width:968px) {
					font-size: 13px;
				}
				&:hover{
					background: #fff;
					color: #FF5D54;
				}
			}
		}
		&__card{
			display: flex;
			flex-direction: column;
			&__for{
				background: rgba(255, 255, 255, 0.5);
				border-radius: 10px;
				padding: 10px 20px;
				display: inline-flex;
			}
			&:hover{
				.main__cards__card__head{
					color: #FF5D54;
				}
				.main__cards__card__body{
					opacity: 1;
					visibility: visible;
					max-height: 1000px;
				}
				.main__cards__links__item{

				}
			}
			&__head{
				height: 90px;
				background: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #585858;
				font-size: 25px;
				font-weight: bold;
				border-radius: 20px;
				transition: all .3s;
			}
			&__body{
				background: rgba(255, 255, 255, 0.5);
				border: 1px solid #FFFFFF;
				box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
				backdrop-filter: blur(90px);
				margin-top: 15px;
				padding: 35px;
				padding-top: 15px;
				border-radius: 20px;
				transition: all .3s;

				@media (max-width:768px) {
					margin-bottom: 20px;
					opacity: 1;
				}
			}
		}
}
.main__card{
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #FFFFFF;
	box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(90px);
	border-radius: 20px;
}

.advantages{
	padding-bottom: 130px !important;
}
.main{
	position: relative;
	&__bg{
		position: absolute;
		left: 0px;
		top: 0;
		z-index: -1;
	}
	&__block{
		display: flex;
		margin-top: 90px;
		justify-content: space-between;
	}
	&__lang{
		flex: 0 0 35%; 
	}
	&__about{
		flex: 0 0 50%;
		min-height: 100%;
		background: linear-gradient(138.27deg, #FFFFFF 16.13%, #EEEEEE 85.12%);
		box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
		border-radius: 20px;
		color: #585858;
		padding: 40px 50px;
		padding-top: 30px;
		&__row{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		& .btn{
			margin-left: 12px;
			font-weight: 500;
		}
		&__text{
			margin-top: 32px;
		}
	}
	&__level{
		flex: 0 0 10%;
		min-height: 100%;
		background: linear-gradient(138.27deg, #FFFFFF 16.13%, #EEEEEE 85.12%);
		box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
		grid-gap: 10px;
		opacity: 0;
		transition: all .3s;
		max-height: 0 !important;
		&__more{
			position: absolute;
			left: 5px;
			bottom: calc(100% + 25px);
			background: linear-gradient(138.27deg, #FFFFFF 16.13%, #EEEEEE 85.12%);
			box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
			border-radius: 20px;
			padding: 20px;
			width: 180px;
			font-size: 10px;
			color: #979797;
			opacity: 0;
			visibility: hidden;
			transition: all .3s;
			transform: translateY(20px);
			& .triangle{
				position: absolute;
				border-right: 30px solid transparent;
				border-left: 0px solid transparent;
				border-bottom: 25px solid #fbfbfb;
				transform: rotate(90deg);
				top: 95%;
				left: 0;
			}
		}
		&_active{
			opacity: 1;
			max-height: 2000px !important;
		}
		&__item{
			background: rgba(255, 255, 255, 0.5);
			border-radius: 10px;
			padding: 10px 17px;
			font-weight: 500;
			font-size: 14px;
			color: #979797;
			transition: all .3s;
			cursor: pointer;
			&_active{
				color: #FF5D54;
			}
		}
		&__info{
			margin-top: 30px;
			position: relative;
			cursor: pointer;
			&:hover{
				.main__level__more{
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
			& path,rect{
				transition: all .3s;
			}
			& path{
				fill: #979797;
			}
			& rect{
				fill: rgba(0,0,0,0);
			}
			&:hover{
				& rect{
					fill: #D5645E;
					stroke: transparent;
				}
				& path{
					fill: #fff;
				}
			}
			
		}
	}
	&__cards{
		&__card{
			&__for{
				margin-right: 60px;
			}
			&__body{
				display: flex;
				align-items: flex-start;
			}
		}
	}
}


.materials{
	position: relative;
	margin-top: 210px;
	margin-bottom: 40px;
	&__bg{
		position: absolute;
		z-index: -1;
	}
	&__block{
		padding-top: 150px;
		display: flex;
		justify-content: space-between;
	}
	&__main{
		flex: 0 0 50%;
		background: linear-gradient(138.27deg, #FFFFFF 16.13%, #EEEEEE 85.12%);
		box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
		border-radius: 20px;
		padding: 50px 40px;
		padding-bottom: 65px;
		& .text{
			margin-top: 40px;
		}
	}
	&__slider{
		flex: 0 0 30%;
		position: relative;
		&__action{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer; 
		}
		&__left{
			left: -50px;
		}
		&__right{
			right: -50px;
		}
		&__block{
			background: linear-gradient(138.27deg, #FFFFFF 16.13%, #EEEEEE 85.12%);
			box-shadow: 5px 10px 39px rgba(0, 0, 0, 0.05);
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			padding: 50px 40px;
		}
		&__name{
			margin-top: 30px;
			margin-bottom: 15px;
		}
		&__row{
			display: flex;
			align-items: center;
			margin-top: 30px;
			justify-content: space-between;
		}
		&__more{
			color: #979797 !important;
		}
		&__stars{
			&[data-star = "1"] svg{
				&:nth-child(1){
					& path{
						fill: #FFCF54;
					}
				}
			}
			&[data-star = "2"] svg{
				&:nth-child(1){
					& path{
						fill: #FFCF54;
					}
				}
				&:nth-child(2){
					& path{
						fill: #FFCF54;
					}
				}
			}
			&[data-star = "3"] svg{
				&:nth-child(1){
					& path{
						fill: #FFCF54;
					}
				}
				&:nth-child(2){
					& path{
						fill: #FFCF54;
					}
				}
				&:nth-child(3){
					& path{
						fill: #FFCF54;
					}
				}
			}
			&[data-star = "4"] svg{
				&:nth-child(1){
					& path{
						fill: #FFCF54;
					}
				}
				&:nth-child(2){
					& path{
						fill: #FFCF54;
					}
				}
				&:nth-child(3){
					& path{
						fill: #FFCF54;
					}
				}
				&:nth-child(4){
					& path{
						fill: #FFCF54;
					}
				}
			}
			&[data-star = "5"] svg path{
				fill: #FFCF54;
			}
		}
	}
}
.slider_noactive{
	display: none;
}
.slider__change{
	transition: all .3s;
}
.slider_active{
	display: block;
}
@media (max-width:1024px) {
	.main__cards__card__head{
		font-size: 22px;
	}
	.main__about{
		margin-left: 20px;
		padding-left: 35px;
		padding-right: 35px;
		& .btn,.text_med{
			white-space: nowrap;
		}
		& .text_med{
			font-size: 15px;
		}
		& .btn{
			font-size: 9px;
		}
		&__text{
			font-size: 13px;
		}
	}
	.main__cards__card__for{
		font-size: 9px !important;
	}
	.main__cards__links__item{
		font-size: 9px;
	}
	.main__card{
		height: 62px;
	}
	.main__cards__chose__wrap{
		padding: 0 10px;
	}
	.main__cards__select{
		margin: 0 -10px;
	}
	.materials__block{
		margin-right: 25px;
	}
	.materials__slider{
		flex: 0 0 35%;
	}
	.materials__slider__block{
		padding-left: 30px;
		padding-right: 30px;
		min-height: 100%;
	}
	.text_med{
		font-size: 12px !important;
	}
	.text{
		font-size: 10px !important;
	}
	.text_small{
		font-size: 8px !important;
	}
	.main__cards__card__for{
		margin-right: 15px;
	}
}
@media (max-width:450px) {
	.materials{
		margin-top: 40px;
		&__block{
			padding-top: 0;
			flex-direction: column;
			grid-gap: 20px;
			align-items: center;
			margin-right: 0;
		}
		&__main{
			padding: 40px 25px;
		}
		&__slider{
			margin-bottom: 30px;
			&__block{
				padding: 40px 25px;
			}
			&__left{
				top: 115%;
				left: 30px;
			}
			&__right{
				top: 115%;
				right: 30px;
			}
		}
	}
	.main__block{
		flex-direction: column;
		align-items: center;
	}
	.main__cards__select{
		margin-bottom: 30px;
	}
	.main__about{
		margin-left: 0;
		margin-bottom: 35px; 
	}
	.main__level{
		padding-bottom: 30px;
		width: 50%;
	}
	.main__cards__card__for{
		margin-right: 10px;
	}
}