html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", monospace;
	position: relative;
	bottom: 0px;
	transition: bottom 1s;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}


body{
	background: linear-gradient(349.89deg, #E7E7E7 1.73%, #F3F3F3 80.6%);
	font-family: Roboto;
}


.admin{
	height: 100vh ;
	display: flex;
	&__panel{
		background: #E7E7E7;
		width: 16rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 1.75rem;
		padding-right: 1.75rem;
		position: relative;
		padding-top: 8.8rem;
		&__items{
			display: flex;
			flex-direction: column;
			align-items: center;
			grid-gap: 1rem;
			width: 100%;
		}
		&__el{
			color: #585858;
			background: #F0F0F0;
			border-radius: 5px;
			width: 100%;
			height: 2.2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 500;
			cursor: pointer;
			&_active{
				background: #FCFCFC;
				color: #FF5D54;
			}
		}
	}
	&__logo{
		width: 35%;
		position: absolute;
		top: 4.3rem;
		& img{
			max-width: 100%;
		}
	}
	&__main{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		background: linear-gradient(349.89deg, #E7E7E7 1.73%, #F3F3F3 80.6%);
		width: calc(100% - 16rem);
		padding-top: 8.8rem;
	}
	&__action{
		position: absolute;
		left: 20px;
		top: 4rem;
		display: flex;
		&__el{
			color: #585858;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			height: 2.5rem;
			background: #FFFFFF;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 1.25rem;
			cursor: pointer;
			&_active{
				background: linear-gradient(90deg, #D5645E 0%, #FF5D54 91.2%);
				color: #FCFCFC;
			}
		}
	}
	&__back{
		display: flex;
		align-items: center;
		color: #585858;
		& svg{
			margin-right: 10px;
		}
	}
	&__select{
		display: none;
		width: 26rem;
		margin-left: 10px;
		margin-right: -10px;
		flex-wrap: wrap;
		row-gap: 20px;
		&__el{
			color: #585858;
			font-weight: 500;
			font-size: 0.875rem;
			height: 3.25rem;
			background: #FFFFFF;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&__wrap{
				padding: 0 10px;
				flex: 0 0 50%;
			}
		}
	}
	&__add{
		margin-left: 20px;
		color: #585858;
		font-size: 0.875rem;
		display: none; 
		flex-direction: column;
		align-items: flex-start;
		&__input{
			width: 12.5rem;
			height: 3.25rem;
			border: 1px solid #585858;
			box-sizing: border-box;
			border-radius: 5px;
			background: transparent;
			margin-top: 15px;
			margin-bottom: 20px;
		}
		&__btn{
			height: 1.625rem;
			padding: 0 1.2rem;
			background: #585858;
			border-radius: 5px;
			color: #FFFFFF;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
	&__remove{
		display: flex;
		margin-left: 10px;
		flex-wrap: wrap;
		row-gap: 20px;
		width: 26rem;
		display: none;
		&__el{
			color: #585858;
			font-weight: 500;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3.25rem;
			background: #FFFFFF;
			border-radius: 5px;
			position: relative;
			padding-left: 25%;
			&:before{
				position: absolute;
				content: '';
				height: 100%;
				width: 3.25rem;
				background: #585858 url('../../img/close.svg');
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 5px;
				left: 0;
				top: 0;
				cursor: pointer;
			}
		}
	}
	
}
.admin__main_active{
	display: flex;
}
.admin__input{
	display: none;
}
.admin__input_active{
	display: flex;
}
.admin__input__large{
	width: 26rem;
	height: 7rem;
}
.admin__btn__next_active{
	background: linear-gradient(90deg, #D5645E 0%, #FF5D54 91.2%);
}
.admin__action__el{
	display: none;
}
.visible{
	display: flex;
}
.admin__input__temp{
	display: flex;
	max-width: 26rem;
	flex-wrap: wrap;
	display: none;
	&__el{
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		background: #585858;
		border-radius: 5px;
		height: 26px;
		padding: 0 17px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		margin-right: 15px;
		cursor: pointer;
	}
	&_active{
		display: flex;
	}
}
.input_noation{
	pointer-events: none;
}
.admin__input__temp__el_noactive{
	background: linear-gradient(90deg, #D5645E 0%, #FF5D54 91.2%);
}
.admin__back{
	cursor: pointer;
}
.redact__form{
	display: none;
	&_active{
		display: block;
	}
}
.noactive{
	display: none;
}
.admin__input__temp__el_active{
	background: linear-gradient(90deg, #D5645E 0%, #FF5D54 91.2%);
}